* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeffcd;
}

#navbar {
    background-color: black;
    width: 100%;
    padding: 20px 12.5%;
}

#navbar h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#navbar h5 {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#chat-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    width: 80%;
    margin: 15px auto;
}

#signup {
    display: flex;
    margin: 15px 0;
    width: 100%;
    justify-content: space-around;
}

#signup div span {
    font-family: 'Open Sans', sans-serif;
}

#game-container div {
    background-color: rgba(0, 0, 0, 0.454);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 20px 30px;
}

#chatLog {
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 101px - 39px - 100px - 60px - 30px);
}

.message {
    margin: 10px auto;
    width: 80%;
    padding: 10px 20px;
    display: flex;
    border-top: black 1px solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    flex-direction: column;
}

.message .username {
    padding-bottom: 10px;
    text-decoration: underline;
}

.message .text {}

input[type=text] {
    border: 1px #828282 solid;
    border-radius: 20px;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.messageInput {
    position: absolute;
    bottom: 0;
    right: 10%;
    left: 10%;
    margin: 10px;
    width: 80%;
    display: flex;
}

.messageInput input[type=text] {
    flex: 1;
}

.messageInput button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: lawngreen;
    font-size: 30px;
}